@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
  .btn {
    @apply px-4 py-2 font-semibold text-white transition-colors duration-300 bg-indigo-500 border-b-2 border-indigo-700 rounded-full shadow-md hover:bg-indigo-600 focus:outline-none active:border-b-0 active:transform active:translate-y-px;
  }
  .onClick-active {
    @apply active:transform active:translate-y-px;
  }
  .h-calc {
    min-height: calc(100vh - 72px);
  }
}
.bg-makerbanner {
  background-image: url("/maker/makerbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(255, 255, 255, 0.3);
}

html {
  min-width: 410px;
  scroll-behavior: smooth;
}
